.example-container {
  position: fixed;
  margin-left: 200px;
  background-color: white;
  width: 900px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
//   text-align: center;

// }

.example-sidenav {
  padding: 20px;
}
.btn{
  background-color:red;
font-size: 20px;
margin-left: 500px;
margin-bottom: 20px;
}

.rupees{
  float: right;
  position: end;
  margin-top: 100px;
  margin-right: 150px;
  font-size: 40px;
}

.search{
  font-size: 15px;
  padding: 10px;
  border-color: blue;
}
.btn1{
  margin-top: 50px;
  background-color: red;
}

