<br><br><br>

<mat-drawer-container class="example-container" autosize>
  <div class="rupees">  <span>₹ 8.69 Lakh</span><br>
    <h3>On-Road Price, Bangalore</h3>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <h2>Please tell us your city</h2>
    <p>This allows us to provide relevant content for you</p>
    <div ><input type="text" placeholder="Type your city" class="search">
    </div>
    <div class="example-sidenav-content1">
      <button class="btn1" type="button" mat-button (click)="drawer.toggle()">
        confirm
      </button>
    </div>
  </mat-drawer>

  <div><img src="../assets/images/img2.png" class="tata">
  </div>


  <div class="example-sidenav-content">
    <button class="btn" type="button" mat-button (click)="drawer.toggle()">
      Get February Offers
    </button>
  </div>

</mat-drawer-container>




